# This rule is not used by the project sql-executor-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the batch.hua-ri.cn.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: sql-executor-operator
    app.kubernetes.io/managed-by: kustomize
  name: sqljob-editor-role
rules:
- apiGroups:
  - batch.hua-ri.cn
  resources:
  - sqljobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch.hua-ri.cn
  resources:
  - sqljobs/status
  verbs:
  - get
