apiVersion: batch.hua-ri.cn/v1
kind: SqlJob
metadata:
  labels:
    app.kubernetes.io/name: sql-executor-operator
    app.kubernetes.io/managed-by: kustomize
  name: sqljob-sample
spec:
  # TODO(user): Add fields here
